<nav class="navbar navbar-expand-sm bg-light bg-light">
<ul class="navbar navbar-nav">
  <li>
    <button class="btn btn-outline-info ms-lg-2"
            (click)="OnGetAllProducts()">All</button>
  </li>
  <li>
    <button class="btn btn-outline-info ms-lg-2"
            (click)="OnGetSelectedProducts()">Selected</button>
  </li>
  <li>
    <button class="btn btn-outline-info ms-lg-2"
            (click)="OnGetAvailableProducts()">Available</button>
  </li>
  <li>
    <button class="btn btn-outline-info ms-lg-2"
            (click)="onNewProduct()">New product</button>
  </li>
</ul>
  <ul class="navbar navbar-nav m-md-auto">
    <li>
      <form class="form-check-inline" #f="ngForm" (ngSubmit)="onSearch(f.value)">
          <input ngModel name="keyword" type="text">
          <button class="btn btn-sm btn-outline-info m-lg-1">
             <span class="fa fa-search"></span>
          </button>
      </form>
    </li>
  </ul>
</nav>
<div class="container">
<ng-container *ngIf="products$| async as result" [ngSwitch]="result.dataState">
  <ng-container *ngSwitchCase="DataStateEnum.LOADING">
    Loading .....
  </ng-container>
  <ng-container *ngSwitchCase="DataStateEnum.LOADED">
    <table class="table">
      <tr>
        <th>Id</th> <th>Name</th> <th>Price</th> <th>Quantity</th> <th>Selected</th> <th>Available</th>
      </tr>
      <tr *ngFor="let p of result.data">
        <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.price}}</td>
        <td>{{p.quantity}}</td>
        <td>{{p.selected}}</td>
        <td>{{p.available}}</td>
        <td>
          <button (click)="onSelect(p)" [ngClass]="p.selected?'btn-success':'btn-danger'" class="btn btn-sm">
            <span *ngIf="p.selected">Unselect</span>
            <span *ngIf="!p.selected">Select</span>
          </button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="onDelete(p)">
            <span class="fa fa-trash-o"></span>
          </button>
        </td>
        <td>
          <button class="btn btn-secondary" (click)="onEdit(p)">
            <span class="fa fa-edit"></span>
          </button>
        </td>
      </tr>
    </table>
  </ng-container>
  <ng-container *ngSwitchCase="DataStateEnum.ERROR">
    <div class="alert-danger">
      {{result.errorMessage}}
    </div>
  </ng-container>
</ng-container>
</div>
