<nav class="navbar navbar-expand-sm bg-light bg-light">
  <div class="collapse navbar-collapse" id="mynavbar">
    <ul class="navbar-nav me-auto">
      <li>
        <button class="btn btn-primary ms-lg-2"
                (click)="OnGetAllProducts()">All
        </button>
      </li>
      <li>
        <button class="btn btn-primary ms-lg-2"
                (click)="OnGetSelectedProducts()">Selected
        </button>
      </li>
      <li>
        <button class="btn btn-primary ms-lg-2"
                (click)="OnGetAvailableProducts()">Available
        </button>
      </li>
      <li>
        <button class="btn btn-primary ms-lg-2"
                (click)="onNewProduct()">New product
        </button>
      </li>
    </ul>
    <ul class="navbar navbar-nav m-md-auto">
      <li>
        <form class="d-flex" #f="ngForm" (ngSubmit)="onSearch(f.value)">
          <input ngModel name="keyword" class="form-control me-2" type="text">
          <button class="btn btn-primary" type="button">Search</button>
        </form>
      </li>
    </ul>
  </div>
</nav>
